[submodule "pksav"]
	path = pksav
	url = https://github.com/ncorgan/pksav
[submodule "libpkmn-database"]
	path = libpkmn-database
	url = https://github.com/ncorgan/libpkmn-database
[submodule "testing/libpkmn-test-files"]
	path = testing/libpkmn-test-files
	url = https://github.com/ncorgan/libpkmn-test-files
